* {
  margin: 0;
  padding: 0;
  background: black;
}

.Titulo {
  color: #f4f6ff;
  text-align: center;
  margin: 15px;
  font-size: 50px;
}

.Entrada {
  display: inline-block;
  text-align: center;
  font-size: 50px;
  color: aliceblue;
}

.Caja {
  text-align: center;
  margin-top: 70px;
}

.certi {
  text-align: center;
  width: 70%;
  margin-top: 70px;
  margin-bottom: 70px;
}
